
  <h2><%= current_user.username %>'s Listings</h2>

  <div class="row">

  <div class="card">

        <% @listings.each do |listing| %>
        <% if listing.photo.attached? %>
         <img class="image" src="https://res.cloudinary.com/dcm2heeuf/image/upload/v1620723373/<%=listing.photo.key %>" href="/listing">
         <% else %>
          <img class="image" src="https://source.unsplash.com/400x300/?vegetables" />
        <% end %>
            <h5><%= link_to listing.title, listing_path(listing) %></h5>
          <div class="options">
          <div class="list-delete">
            <%= link_to "Delete",
            listing_path(listing),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
          </div>
            <div class="list-edit">
              <%= link_to "Edit", edit_listing_path(listing) %>
            </div>
        </div>

        <% end %>
      </div>
</div>

</div>

