<div class ="container">
  <div class="card-trip">
      <div class="card-trip-infos">
        <h2><%= @listing.title %>'s Market</h2>
        </div>
        <p><%=@listing.category%></p>
        <p><%=@listing.unit_price %></p>
        <p><%=@listing.quantity%></p>
        <p><%=@listing.description%></p>
        <p><%=@listing.expiry_date%></p>
        <p>Farmer's details:<%= link_to @user.username,  user_listing_path(@listing) %></p>
      </div>
    </div>

