
<div class ="container" style="background-color: #F0F0F0; padding-top: 20px">

  <!-- TOP RACK - LISTING DETAILS (PHOTO, PRICE, DESC) -->

  <div class="row">

    <div class="image col-lg-6">
      <% if @listing.photo.attached? %>
      <%= cl_image_tag @listing.photo.key, height: 300, width: 400%>
      <% else %>
      <img class="image" src="https://source.unsplash.com/400x300/?vegetables"/>
      <% end %>
    </div>

    <div class="col-lg-6 col">
      <h2><strong><%= @listing.title %></strong></h2>
      <p>Category: <%=@listing.category%></p>
      <hr>

      <div class="row">
        <div class="col-sm-2">
          <strong>Price:</strong>
        </div>
        <div class="col-sm-10">
          $<%=@listing.unit_price %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <strong>Expiry:</strong>
        </div>
        <div class="col-sm-10">
          <%=@listing.expiry_date %>
        </div>
      </div>

      <div class="row" style="margin-top: 20px; margin-bottom: 30px">
        <div class="col-sm-12">
          <%= simple_form_for([ @listing, @order_item ]) do |f| %>
          <%= f.input :quantity, collection: 1..@listing.quantity, prompt: false, label: "Select Quantity" %>
          <%= f.submit "Add To Cart", method: :create %>
          <small>(Quantity left: <%=@listing.quantity%>)</small>
          <% end %>
        </div>

      </div>

    </div>

  </div>

  <div class="row mt-20">
    <div class="col-sm-12" style="margin-top:20px">
      <h5><strong>Description</strong></h5>
      <p><%=@listing.description%></p>
    </div>
  </div>

  <!-- MIDDLE RACK -1 - MEET THE GROCER (DETAILS, OTHER LISTINGS) -->

  <div class="row d-block">
    <div class="col-lg-12" style="margin-top: 20px">
      <h5><strong>Meet the Grocer</strong></h5>

      <div class="card-product-big-avatar" style="min-height: 200px; border-radius: 5px">
        <% user = User.find(@listing.user_id) %>
        <%= render "shared/user-avatar", user: user %>

        <div class="col-lg-12" style="background-color: white; border: grey 1px; margin-left: 10px">
          <% user = User.find(@listing.user_id) %>
          <p><strong>Name: </strong><%= user.username %></p>
          <p><strong>Contact: </strong><%= user.email %></p>
          <p><strong>Address: </strong><%= user.address %></p>
        </div>

      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-12" style="margin-top: 20px">
      <h5>You may also like these</h5>
    </div>

    <div class="col-lg-12" style="margin-top: 20px">

      <div class="cards-small">
        <% user = User.find(@listing.user_id) %>
        <% listings = Listing.where(user_id: @listing.user_id).limit(5) %>
        <% listings.each do |listing| %>
        <div class="card-small">
          <%= render "shared/listing-image", listing: listing %>

          <div class="card-small-body" style="vertical-align: text-bottom;">
            <strong><%= link_to listing.title, listing_path(listing) %></strong>
            <div class="card-small-text">
              <small><%= listing.category %></small>
              <p>$<%= listing.unit_price %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- MIDDLE RACK -2 - SAME CATEGORY, OTHER LISTINGS -->

  <div class="row">
    <div class="col-lg-12" style="margin-top: 20px">
      Simliar listings for:   <%= @listing.category %>
    </div>

    <div class="row" style="padding: 12px">
      <div class="col-lg 12">
        <div class="cards-small">
          <% Listing.all.where(category: @listing.category).limit(5).each do |listing| %>
          <div class="card-small">
            <%= render "shared/listing-image", listing: listing %>
            <%= render "shared/cards-of-5-rack", listing: listing %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>



</div>

