<div class ="container">
  <div class="card-trip">
      <div class="card-trip-infos">
        <h2><%= @listing.title %>'s Market</h2>
        </div>
        <p><%=@listing.category%></p>
        <p><%=@listing.unit_price %></p>
        <p><%=@listing.quantity%></p>
        <p><%=@listing.description%></p>
        <p><%=@listing.expiry_date%></p>
        <%= simple_form_for([ @listing, @order_item ]) do |f| %>
          <%= f.input :quantity, collection: 1..@listing.quantity, prompt: "Select Quantity" %>
          <%= f.submit "Add To Cart", method: :create %>
        <% end %>
        <p>Farmer's details:<%= @user.username %></p>
      </div>
    </div>

