<div class="card-product">
  <% if item.listing.photo.attached? %>
      <img class="card-small-img-top" src="https://res.cloudinary.com/dcm2heeuf/image/upload/v1620723373/<%=listing.photo.key %>" href="/listing">
      <% else %>
    <img class="image" src="https://source.unsplash.com/400x300/?vegetables" />
  <% end %>
  <div class="card-product-infos d-flex flex-column flex-grow-1">
    <div class="row d-flex flex-row justify-content-between align-items-center px-3">
      <h2><%= item.listing.title %></h2>
      <div class="box">
        <p>Quantity: <%= item.quantity %></p>
        <p>Price: $<%= item.amount %></p>
      </div>
    </div>
    <p>Category: <%= item.listing.category %></p>
    <p>Seller: <%= item.listing.user.username %></p>
  </div>
</div>

